version: "3.3"
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: my-django-app:latest
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app   # optional for dev
    command: python manage.py runserver 0.0.0.0:8000
